.books__range .stars {
    color:#B195D2;
    margin: 6px 0;
    width: 80px;
}
.container {
    display: flex;
    overflow-x: auto;
}
.container::-webkit-scrollbar {
    width: 5px;
  }
.container::-webkit-scrollbar-thumb {
    background-color: #B6B5D8;
    border-radius: 5px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
.container::-webkit-scrollbar-track {
    background-color: #FFE7FF;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px white;
  }
.books__range-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}