.no-mobile {
    z-index: 90;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 2, 2);
}

.no-mobile__text {
    z-index:91;
    position:absolute;
    top: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
    height: 20vh;
}

@media screen and (max-width: 645px) {
    .no-mobile {
        display: none;
    }
}